<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FamCare | version</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css')}}">
    
        <style>
          footer {
              position: fixed;
              left: 0;
              bottom:6%;
              width: 100%;
     
              text-align: center;
    }
</style>
        </style>
    </head>
    <body>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

});

$(document).ready(function() {

// Check for click events on the navbar burger icon
$(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});
        </script>

<nav class="navbar p-0 box" role="navigation" aria-label="main navigation">
  <div class="navbar-brand px-4">
    <a class="navbar-item" href="https://bulma.io">
      <p class="subtitle is-info has-text-info">
        <span class="icon-text ">
          <span class="icon ">
            <i class="fas fa-home"> <img src="{{ url_for('static', filename='images/logx1.png')}}" alt="Image not found"></i>
          </span>
          <span class="ml-4">FamCare Clinic</span>
        </span>
      </p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
  
    </div>

    <div class="navbar-end mr-5">
      <a href="{{ url_for('index')}}" class="navbar-item">
        Dashboard
      </a>

      <a  href="{{ url_for('analytic')}}" class="navbar-item">
        Analytics
      </a>
      <a href="{{ url_for('reserved')}}" class="navbar-item ">
                 
        Reserve
        
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" style="color:#008ddf;">
          More
        </a>

        <div class="navbar-dropdown">
          <a  href="{{ url_for('version')}}"class="navbar-item">
            Version
          </a>
          <a href="{{ url_for('manual')}}" class="navbar-item">
            Manual
          </a>
          <a  href="{{ url_for('costpage')}}" class="navbar-item">
            cost
          </a>
          <a href="{{ url_for('sumpage')}}" class="navbar-item">
            summary 
          </a>
          <hr class="navbar-divider">
          <a href="{{ url_for('about')}}" class="navbar-item">
            About us
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{ url_for('login')}}" class="button is-info is-small ">
            Log out
          </a>
         
        </div>
      </div>
    </div>
  </div>
</nav>
    <div class="container">
       


        <div class="columns is-centered  ">
                
            
            <div class="column  is-4 px-6">
                <img src="{{ url_for('static', filename='images/laplap.gif')}}"  alt="Image not found">
               <p class="title has-text-centered has-text-weight-normal py-1"  > Version <strong class="has-text-weight-bold">X</strong> </p>
               
               <p class="subtitle is-6 has-text-info">` </p> 
               <p class="subtitle is-6 has-text-info"><strong class=" has-text-grey">FamCare</strong> Managmnet Software</p> 
               <p class="subtitle is-6 has-text-info"><strong class="subtitle is-6 has-text-grey">Local Network Based</strong> </p> 
               <p class="subtitle is-6 has-text-info"><strong>website: </strong><a href="http://onyxtech.epizy.com">www.onyxtech.com</a> </p> 

            </div>
           

        </div>

        

   
 

            <footer class="has-text-centered is-size-7  has-text-gray-light">Copyright 2023/2015 FamCare Clinic | powered by <a href="onyxtech.epizy.com" class="has-text-centered is-size-7  has-text-info">Onyx Technology</a> </h1>
           
            
            
       
     
    </div>
                
    </body>

</html>